/* .container {
  height: 50px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.social {
  color: white;
  display: flex;
  gap: 10px;
}
.icon {
  color: #bbb;
  opacity: 0.7;
  cursor: pointer;
} */
